#!/usr/bin/make -f
# -*- mode: makefile; coding: utf-8 -*-

#DEB_MAKE_CHECK_TARGET = test_belicoin
#build/belicoind::
#	$(if $(filter nocheck,$(DEB_BUILD_OPTIONS)),,src/test_belicoin)

DEB_INSTALL_EXAMPLES_belicoind += debian/examples/*
DEB_INSTALL_MANPAGES_belicoind += debian/manpages/*

%:
	dh --with bash-completion $@

override_dh_auto_build:
	cd src; $(MAKE) -f makefile.unix belicoind
	$(MAKE)

override_dh_auto_clean:
	if [ -f Makefile ]; then $(MAKE) clean; else rm -rf build/; rm -f belicoin-qt; fi
	cd src; $(MAKE) -f makefile.unix clean

override_dh_auto_configure:
	qmake belicoin-qt.pro USE_QRCODE=1

override_dh_auto_test:
	cd src; $(MAKE) -f makefile.unix test_belicoin
	src/test_belicoin

# Ensure wrapper is set executable
binary-post-install/belicoind:
	chmod +x $(cdbs_curdestdir)usr/bin/belicoind
binary-post-install/belicoin-qt:
	chmod +x $(cdbs_curdestdir)usr/bin/belicoin-qt
